

<style type="text/css">
    body {
        background-color: #005bff47;
        margin: 0;
        /* font-family: monospace; */
        color: #181818;
    }
    #form-container {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 15px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #settings-link {
        color: #181818;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    #main-form {
        display: flex;
        flex-flow: column;
        /* box-sizing: content-box;
        font-family: monospace;
        color: #181818;
        font-size: 32px;
        font-size: 5vw;
        background-color: blueviolet;
        padding: 16px;
        font-weight: bolder;
        text-align: center;
        border: 5px solid #181818; */
    }
    #submit-button {
        background-color: blueviolet;
        margin: 30px 0;
        /* padding: 16px; */
        font-weight: bolder;
        text-align: center;
        border: 2px solid #181818;
    }
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }
</style>

<div id="form-container">
    
    <a id="settings-link" href="/settings">⚙️ Settings</a>

    {% if profiles %}
    <form id="main-form" action="/" method="post">
        {% csrf_token %}

        {% if isOn %}
        <label for="submit-button">Hotspot SSID: {{activeProfileSSID}}</label>
        {% else %}
        <label for="select-profile">Select a Hotspot profile</label>
        <select id="select-profile" name="profile" id="profiles">
            {% for profile in profiles %}
            <option value="{{profile}}">{{profile}}</option>
            {% endfor %}
        </select>
        {% endif %}

        <input id="submit-button" type="submit" value="{{ submitText }}">
    </form>
    {% else %}
    <a href="/settingshotspot">Add Hotspot Profile ➕</a>
    {% endif %}
</div>